/*setup font*/
body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: linear-gradient(to bottom, #ffe0f0, #ffffff);
}

/* untuk stayling bagian header*/
header{
    background: linear-gradient(to right, #e96dbb, #ff79c6);
    color: white;
    text-align: center;
    padding: 50px 20px;
    font-family: 'playfair', sans-serif;
}

header h1{
    font-size: 40px;
    margin: 0;
}

header h2{
    font-weight: normal;
    font-size: 24px;
    margin: 10px 0;
}

header p{
    font-size: 16px;
    margin-top: 5px;
}


/* untuk stayling bagian product container*/
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
}

/* styling bagian card*/
.product-card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 240px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*hover agar card bergerak*/
.product-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba (233, 109, 187, 0.3)
}

/*styling bagian gambar bunga*/
.product-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

/*styling bagian nama bunga*/
.product-card h3{
    margin: 15px 0 5px;
    font-weight: 700;
    color: #e96dbb;
    letter-spacing: 1px;
}

/*styling bagian harga*/
.product-card p{
    margin: 0 0 15px;
    color: #555;
    font-size: 16px
}

/*styling bagian button*/
.product-card button{
    background: linear-gradient(to right, #ff5db1, #ff70a6);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

/*hover agar button berubah warna*/
.product-card button:hover{
    background: linear-gradient(to right, #ff2f92, #ff6fa3);
}

/*buat ahref agar ga ada garis bawahnya*/
a{
    text-decoration: #000;
    color: #fff;
}


/*styling button detail*/
.detail {
    background: #c35e5e;
    padding: 8px;
    border-radius: 69px;
    margin-top: 10px;
}

/*styling button buy*/
.buy{
    background: #c35e5e;
    padding: 8px;
    border-radius: 69px;
    margin-top: 10px;
}
/*hover agar button berubah warna*/
.detail:hover,
.buy:hover{
    background: #ff2f92;
    color: white;
}

.info h3{
    font-size: 20px;
    margin-top: 1px;
    color: #000;
}

/*styling logo instagram dan whatsapp*/
.info i{
    width: 20px;
    height: 20px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 30px;
    color: #000;
}